@use '../../../../styles-utils/variables/breakpoints' as breakpoint;

.header {
  height: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;

  .open-navigation-button {
    margin-left: auto;
  }
}

@media (min-width: breakpoint.$breakpoint-desktop) {
  .header {
    .open-navigation-button {
      display: none;
    }
  }
}
