:host.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
}

:host.icon-button-svg-sm {
  width: fit-content;
  height: fit-content;
  padding: 3.41px;
}

:host.icon-button-svg-2xl {
  width: fit-content;
  height: fit-content;
  padding: 4.7px;
}
