@use '../../../../styles-utils/mixins/text' as text;
@use '../../../../styles-utils/variables/colors' as colors;
@use '../../../../styles-utils/variables/typography' as font;
@use '../../../../styles-utils/variables/misc' as misc;

.error-404 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    position: relative;
    flex: 1;
    margin: 16px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
      url('../../../../../public/abstract-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: misc.$drop-shadow;
    border-radius: 4px;

    .messages {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 48px 12px;

      .header {
        @include text.text-base-16;
        color: colors.$brand-primary;
        margin: 0;
      }

      .message {
        @include text.text-base-48;
        font-weight: font.$font-weight-semibold;
        margin-block-start: 8px;
        margin-block-end: 20px;
      }

      .sub-message {
        @include text.text-base-20;
        color: colors.$text-secondary;
        margin-block-start: 20px;
        margin-block-end: 32px;
      }

      .back-home {
        width: 100%;
      }

      @media (min-width: 768px) {
        .message {
          margin-block-start: 12px;
          margin-block-end: 24px;
        }

        .sub-message {
          margin-block-end: 64px;
        }

        .back-home {
          width: fit-content;
        }
      }
    }
  }
}
