@use '../../../../styles-utils/mixins/text' as text;
@use '../../../../styles-utils/variables/colors' as colors;
@use '../../../../styles-utils/variables/typography' as font;
@use '../../../../styles-utils/variables/misc' as misc;

.error-404 {
  min-height: 100vh;

  background: linear-gradient(#f9fafb 100%, #d2d6db 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-content {
    position: relative;
    flex: 1;
    margin: 16px;
    background-image: url('../../../../../public/abstract-background.webp');
    object-fit: cover;
    box-shadow: misc.$drop-shadow;
    border-radius: 4px;

    .messages {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 48px 12px;

      .header {
        @include text.text-base-16;
        color: colors.$brand-primary;
        margin: 0;
      }

      .message {
        @include text.text-base-48;
        font-weight: font.$font-weight-semibold;
        margin: 0;
      }

      .sub-message {
        @include text.text-base-20;
        color: colors.$text-secondary;
        margin-block-start: 20px;
        margin-block-end: 0px;
      }

      .back-home {
        width: 100%;
      }
    }
  }
}
